*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
}

.header-baslik{
    display: flex;    
    flex-direction: row;
    align-items: center;
}

.header-baslik p{
    font-size: 20px;
}

.baslik{
    color: red;    
}

.header-nav{
    margin-top: 30px;
}

.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-list li{
    margin: 15px;

}

.nav-list li a{    
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-list li a:hover{    
    text-decoration: underline;
}

.anasayfa-content{
    display: flex;
    justify-content: center;
}

.anasayfa-content p{
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ilkonbir{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('saha.jpg');
    background-size: cover;
}

.ilkonbir-k, .ilkonbir-f{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ilkonbir-d, .ilkonbir-os, .ilkonbir-oos{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.ilkonbir-d li, .ilkonbir-os li, .ilkonbir-oos li{
    text-align: center;
    margin: 10px;
}

.teknikheyet-content{
    margin-top: -10px;
}
.teknikheyet{
    display: flex;
    flex-direction: row;
    margin: 30px 30px;
}

.teknikheyet div{
    display: flex;
    flex-direction: column;
}

.teknikheyet div p {
    text-indent: 30px;
    margin: 0px 15px 0px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}

.teknikheyet div h3{
    text-indent: 35px;
    margin: 10px;
    color: #ff0066;
}

.kurulus-content{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

.kurulus-content div{
    margin-bottom: 20px;
}

.kurulus-content h1, .kurulus-content h3, .kurulus-content div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kurulus-content h1, .kurulus-content h3{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.kurulus-content p{
    margin: 10px;
    text-indent: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.kurulus-content p strong{
    color: red;
}
